body{
	background-color: rgba(156,188,43,10);
	margin-top: 0;
	font-weight: 700;
}
.container{
	width: 30%;
	margin: 0 auto;
	display:block;

}

.one{
	
	display: inline-block;
	
	
	border-radius: 5px;
}

.name,.email,.phone {
	
    background-color: rgba(255,255,255,0.49);
    border-radius: 4px;
    margin-top: 0px;
    border-top-width: 2px;
    margin-bottom: 4px;
    border-bottom-width: 5px;
    padding-bottom: 10px;
    border: 1.5px solid white;
    padding-top: 10px;
    width: 500px;
    padding-left: 15px;
    padding-right: 60px;
	

}
.name{
	margin-top: 10px;
	
}
.phone{

	margin-bottom: 10px;
}
.heading {
    padding-left: 15px;
    margin-top: auto;
}

.placeholder {
    display: inline-block;
    width: 300px;
}
.btn{
	color:white;
	    border-radius: 18px;
    box-sizing: border-box;
    height: 35px;
    width: 100px;
    padding-left: 6px;
    margin-left: 690px;
    border-left-width: 1px;
    border-right-width: 0.5px;
    border-color: rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.5);
}